/*
Project Name: Bulma CSS Site
Client: N/A
Author: Trin3232 (GitHub)
*/

/*************Fonts & Colours Variables ****************************/

@import "normalize.css";

$colours: (
  top-bar-color: #fbf0fe
);
/*********************************************************/

/*********************Main Body Styles********************/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: map-get($colours, top-bar-color);
}

.title.is-1 {
  text-align: center;
}

/**************animation pulsate*************************/

.pulsate {
  -webkit-animation: pulsate 1.5s ease-in-out infinite both;
  animation: pulsate 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/************************Media Queries*******************/

/* @media (max-width: 320px) {
  .title.is-1 {
    margin: 17%;
  }
} */
